.menu-theme {
  color: #b8b4b4;
  /*background: #525252*/;
  /*background: url("https://i.imgur.com/MJAkxbh.png")*/
  /*margin-top: 170px;*/
}

.main-theme {
  color: #000000;
  /*background: url("https://i.imgur.com/MJAkxbh.png");*/
  white-space: normal;
}

.list-div {
    padding: 25px;
}

.image-cropper {
  width: 200px;
  height: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  border-style: solid;
  border-color: black;
  text-align: center;
  margin-left: 139px;
}

img {
  text-align: center;
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

#rectangle{
  width: calc(100% - 344px);
  height:149px;
  background:#FFFFFF;
  position: fixed;
  top: 0;
  right: 0;
}

.header {
  padding: 16px;
  background: #FFFFFF;
  color: #000000;
  position: fixed;
  top: 0;
}

.content {
  padding: 20px;
  margin-top: 50px;
  width: 900px;
  white-space: normal;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

a:link {
  color: black;/*#ff7b00;*/
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: purple;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
